
/*RESET*/

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html, body{
        background-color: antiquewhite;
        font-size: 1rem;
        font-family: 
        height: 100%;
    }

    /* END OF RESET*/

    p{


    }

    a{


    }

    li{


    }
