/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: whitesmoke;
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    height: 100%;

}

/* END OF RESET*/

p {
    color: #a9a9a9;
    font-size: .8rem;




}

a {
    text-decoration: none;
    color: black;


}

li {
    list-style-type: none;


}

/*HEADER*/


.header__nav {
    max-width: 75rem;
    padding: 1.5rem;
    margin: auto;


}

.header__nav__block {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.header__menu__links {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;

    & a {
        text-transform: uppercase;
        font-size: 0.8rem;
        border: 1px black solid;
    }

    & span {
        color: #a9a9a9;

    }

}


.burger__bar {
    width: 18px;
    height: 2px;
    background-color: black;
    border-radius: 5px;
    margin: 5px;

}


/* END OF HEADER*/


/*GRID*/

.section__grid {
    max-width: 75rem;
    padding: .5rem;
    margin: 0 auto;



}


.section__grid__container {
    display: grid;
    gap: .625rem;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: auto;
}

.section__grid__container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.grid__img-3 {
    grid-row: span 2;
}

.grid__img-5 {
    grid-column: span 2;
    grid-row: span 2;
}

.grid__img-9 {
    grid-column: span 2;
    grid-row: span 2;
}

.grid__img-12 {
    grid-row: span 2;
}

.grid__img-17 {
    grid-column: span 2;
}


.grid__img-1 {
    order: 1;
}

.grid__img-2 {
    order: 2;
}

.grid__img-3 {
    order: 3;
}

.grid__img-4 {
    order: 4;
}

.grid__img-5 {
    order: 5;
}

.grid__img-6 {
    order: 6;
}

.grid__img-7 {
    order: 7;
}

.grid__img-8 {
    order: 8;
}

.grid__img-9 {
    order: 9;
}

.grid__img-11 {
    order: 10;
}

.grid__img-10 {
    order: 11;
}

.grid__img-12 {
    order: 12;
}

.grid__img-13 {
    order: 13;
}

.grid__img-15 {
    order: 14;
}

.grid__img-14 {
    order: 15;
}

.grid__img-16 {
    order: 16;
}

.grid__img-17 {
    order: 17;
}

.grid__img-19 {
    order: 18;
}

.grid__img-18 {
    order: 19;
}

.grid__img-21 {
    order: 20;
}

.grid__img-20 {
    order: 21;
}


/* END OF GRID*/

/* FOOTER*/

.footer__container {
    max-width: 75rem;
    padding: 10px;
    margin: auto;



}

.footer__block {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: auto;





}

.footer__top {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    max-width: 25rem;
    margin-top: 8rem;


    .footer__about {
        width: 100%;

        & p {
            text-align: center;
            line-height: 1.2rem;

        }


    }


}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
    margin-top: 8rem;




}


.footer__item--border {
    border: 1px black solid;
    color: #a9a9a9;
    font-size: .8rem;

}

/* END OF FOOTER*/

/*TABLET AND MOBILE*/

@media screen and (max-width: 48rem) {

    /*HEADER*/

    .header__menu__links {
        display: none;


    }
    /*END OF HEADER*/

    /*GRID*/

    .section__grid__container {
        display: grid;
        gap: .625rem;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
    }

    .section__grid__container img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .grid__img-3 {
        grid-row: span 2;
    }

    .grid__img-4 {
        grid-row: span 2;
    }

    .grid__img-5 {
        grid-column: span 2;
        grid-row: span 2;
    }

    .grid__img-8 {
        grid-column: span 2;

    }

    .grid__img-9 {
        grid-column: span 2;
        grid-row: span 2;
    }

    .grid__img-12 {
        grid-row: span 2;
    }

    .grid__img-17 {
        grid-column: span 2;
    }


    .grid__img-1 {
        order: 1;
    }

    .grid__img-2 {
        order: 2;
    }

    .grid__img-3 {
        order: 3;
    }

    .grid__img-4 {
        order: 4;
    }

    .grid__img-5 {
        order: 5;
    }

    .grid__img-6 {
        order: 6;
    }

    .grid__img-7 {
        order: 7;
    }

    .grid__img-8 {
        order: 8;
    }

    .grid__img-9 {
        order: 9;
    }

    .grid__img-11 {
        order: 10;
    }

    .grid__img-10 {
        order: 11;
    }

    .grid__img-12 {
        order: 12;
    }

    .grid__img-13 {
        order: 13;
    }

    .grid__img-15 {
        order: 14;
    }

    .grid__img-14 {
        order: 15;
    }

    .grid__img-16 {
        order: 16;
    }

    .grid__img-17 {
        order: 17;
    }

    .grid__img-19 {
        order: 18;
    }

    .grid__img-18 {
        order: 19;
    }

    .grid__img-21 {
        order: 20;
    }

    .grid__img-20 {
        order: 21;
    }

    /*END OF GRID*/


}